*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
}

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    background:#3E2723;
}

.logo h2{

    color:white;

}

.nav-links{

    display:flex;
    list-style:none;
    gap:30px;

}

.nav-links a{

    text-decoration:none;
    color:white;
    font-size:18px;

}

.btn{

    padding:10px 20px;
    border:none;
    background:#D4A373;
    color:white;
    border-radius:6px;
    cursor:pointer;

}

.btn:hover{

    background:#B08968;

}

@media(max-width:768px){

    .navbar{

        flex-direction:column;
        gap:20px;
        padding:20px;

    }

    .nav-links{

        flex-direction:column;
        align-items:center;
        gap:15px;

    }

    .btn{

        width:180px;

    }

}